div.center {

  text-align: center;
  
}
div.homepage {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 55px;
  padding: 1px;
  margin: 2px;
  color: white;
  
  
}
body {
  background-image: url('road.jpg');
  background-color: #386AC1; 
  font-family: verdana;
}

.transparent-box {
  background-color: rgba(0, 0, 0, 0.5); /* White background, 30% opacity */
  padding: 12px;
  border-radius: 4px; /* Optional: Rounded corners */
  width: fit-content;
}

.transparent-box p {
  color: white; /* Text color */
  font-size: 12px;
}

.changepage {
  text-align: center;
  color: #2ecc71; /* Green text */
  text-decoration: none; /* Remove default underline */
  border-bottom: 2px solid transparent; /* Add invisible border */
  padding-bottom: 2px; /* Make space for the border */
  transition: border-color 0.3s ease; /* Smooth transition */
}

.changepage:hover {
  border-bottom: 2px solid #2ecc71; /* Underline appears on hover */
}
  
